<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>
        Logar
    </title>
   
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}"/>
</head>
<body class="d-flex align-items-center justify-content-center" style="height: 100vh">
    
    
    <div class="card shadow p-4" style="width: 100%; max-width: 400px; ">        
        <h1 class="text-center mb-4" >Login</h1><br>
    <fieldset>    
        <legend>Realizar Login:</legend><br><br>    
    <form action="/login" method="post" th:object="${user}">   
        <label>Login: </label><br>
        <input type="text" class="form-control text-black bg-gray" th:field="*{login}" placeholder="login"/><br>
        <label>Senha: </label><br>
        <input type="password" class="form-control text-black bg-gray" th:field="*{senha}" placeholder="Senha"/><br><br>
        <div class="text-center mb-4">
        <button type="submit" class="btn btn-dark" style="width: 100%; max-width: 400px; ">Logar</button><br>   
        </div>
        </fieldset>
    </form>
            
    <div class="text-end mt-2">
        <a th:href="@{/registro}" class="text-decoration-none">Não possui Login?</a>
    </div>
    </div> 
    

</body>
</html>